<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="labels-list" *ngIf="activeFilter$ | async as filter">
        <ion-list-header>Filter</ion-list-header>

        <!-- Text search -->
        <ion-item>
          <ion-input
            label="Suche"
            placeholder="Titel, Beschreibung, Genre, Cast"
            (ionInput)="onFilterQueryInput($event)"
            [value]="filter.query"
          ></ion-input>

          <ion-button
            *ngIf="filter.query"
            size="medium"
            fill="clear"
            slot="end"
            (click)="clearFilter('query')"
          >
            <ion-icon
              slot="icon-only"
              name="close-circle-outline"
              color="dark"
            ></ion-icon>
          </ion-button>
        </ion-item>

        <!-- Genre filter -->
        <ion-item>
          <ion-select
            label="Genre"
            [multiple]="true"
            (ionChange)="onGenreFilterChange($event)"
            [value]="filter.genre"
          >
            <ion-select-option
              *ngFor="let genre of genres$ | async"
              [value]="genre"
              >{{ genre }}</ion-select-option
            >
          </ion-select>

          <ion-button
            *ngIf="filter.genre && filter.genre.length > 0"
            size="medium"
            fill="clear"
            slot="end"
            (click)="clearFilter('genre')"
            ><ion-icon
              slot="icon-only"
              name="close-circle-outline"
              color="dark"
            ></ion-icon
          ></ion-button>
        </ion-item>

        <!-- Language filter -->
        <ion-item>
          <ion-select
            label="Sprache"
            [multiple]="true"
            (ionChange)="onLanguageFilterChange($event)"
            [value]="filter.language"
          >
            <ion-select-option
              *ngFor="let language of languages$ | async"
              [value]="language"
              >{{ language }}</ion-select-option
            >
          </ion-select>

          <ion-button
            *ngIf="filter.language && filter.language.length > 0"
            size="medium"
            fill="clear"
            slot="end"
            (click)="clearFilter('language')"
            ><ion-icon
              slot="icon-only"
              name="close-circle-outline"
              color="dark"
            ></ion-icon
          ></ion-button>
        </ion-item>

        <!-- FSK 18 -->
        <ion-item
          ><ion-toggle
            [checked]="filter.fsk18"
            (ionChange)="onFSK18Change($event)"
            >Nur FSK 18</ion-toggle
          ></ion-item
        >

        <!-- Favorites -->
        <ion-item
          ><ion-toggle
            [checked]="filter.showFavorites"
            (ionChange)="onFavoritesChange($event)"
            >Nur Favoriten</ion-toggle
          ></ion-item
        >
      </ion-list>

      <ion-label class="created-by ion-padding" color="secondary"
        >v{{ version }} - Created by Björn Bosse</ion-label
      >
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
