<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title
      >Serien
      <ng-container *ngIf="filter$ | async as filter">
        <span
          *ngIf="(filter.showFavorites ? favoriteSeriesTotal$ : filteredSeriesTotal$) | async as series"
        >
          ({{ series.length }})</span
        >
      </ng-container>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngIf="filter$ | async as filter">
      <ion-col
        *ngFor="let s of (filter.showFavorites ? favoriteSeries$ : filteredSeries$) | async"
        sizeXl="3"
        sizeLg="4"
        sizeMd="4"
        sizeSm="6"
        sizeXs="12"
      >
        <app-series-card
          [series]="s"
          [selected]="selectedSeries && selectedSeries.nr === s.nr ? true : false"
          (favoriteClick)="onFavoriteClick(s.title, $event)"
          (toggleDescription)="onToggleDescription($event)"
        >
        </app-series-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-modal
  #modal
  [isOpen]="selectedSeries !== undefined"
  (willDismiss)="selectedSeries = undefined"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Beschreibung</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()"
            ><ion-icon name="close"></ion-icon
          ></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div *ngIf="getCastOfSelectedSeries().length > 0" class="margin-bottom">
        Cast:
        <span
          *ngFor="let c of getCastOfSelectedSeries(); let i = index"
          [innerHTML]="(c + (i < getCastOfSelectedSeries().length - 1 ? ', ' : '')) | safe : 'html'"
        >
        </span>
      </div>

      <div>
        <ion-text
          class="description-text"
          [innerHTML]="selectedSeries && (selectedSeries.description | safe : 'html')"
        ></ion-text>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
